name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  rust:

    runs-on: ubuntu-latest
    environment: CI

    steps:
    - uses: actions/checkout@v3
    - name: Clone spacebar server
      run: |
        git clone https://github.com/bitfl0wer/server.git
    - uses: actions/setup-node@v3
      with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: server/package-lock.json
    - name: Prepare and start Spacebar server
      run: |
        npm install
        npm run setup
        npm run start &
      working-directory: ./server
    - uses: Swatinem/rust-cache@v2
      with:
        cache-all-crates: "true"
    - name: Build, Test and Publish Coverage
      run: |
        cargo tarpaulin --all-features --verbose --skip-clean --coveralls ${{ secrets.COVERALLS_REPO_TOKEN }} --timeout 120
